@model IEnumerable<ClienteModel>
@{
    ViewBag.Subtitulo = "Listagem de Clinetes";
}

<header class="d-flex justify-content-between align-items-center">
        <div>
            <h1 class="text-primary">@ViewBag.Subtitulo</h1>
        </div>
        <div>
            <a asp-action="Cadastrar" class="btn btn-primary">Novo Cliente</a>
        </div>
</header>
<hr>

<partial name="_Mensagem"></partial>

@if(Model.Count() > 0)
{
    <table class="table table-striped local-table-products">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.Telefone</td>
                    <td>
                        <a asp-action="Cadastrar" asp-route-id="@cliente.IdCliente"
                            class="btn btn-sm btn-secondary">Alterar</a>
                        <a asp-action="Excluir" asp-route-id="@cliente.IdCliente"
                            class="btn btn-sm btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não ha nenhum cliente cadastrado!!</p>
}